#background {
 z-index: -1; 
}

.background-image {
  background: url(../img/hollywood.jpg);
  background-color: #cccccc;
  height: 2100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 25px;
}

#main-container {
  width: 100%;
}

#jumbotron-1 {
  background: rgba(110,178,191,0.8);
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 0px -1px 30px 0px rgba(0, 2, 0, 0.61);
}

#jumbotron-2 {
  background: rgba(110,178,191,0.8);
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0px -1px 30px 0px rgba(0, 2, 0, 0.61);
}

h1 {
  font-family: 'Caveat', cursive;
}

.btn {
  margin: 3px;
}

.celebrity {
  display: inline-block;
}

img, p {
margin: 15px;
}

.jumbotron p {
    margin-bottom: 0px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .column {
      width: 100%;
  }
}